<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.3" package="com.companyname.SavePDFUsingNative" android:versionCode="3">
	<uses-sdk android:minSdkVersion="28" android:targetSdkVersion="30" />
	<application android:label="SavePDFUsingNative.Android" android:largeHeap="true"></application>
</manifest>