<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="Syncfusion.X.Custom" value="http://azdo/kahuaProjects/_packaging/Syncfusion.X.Custom/nuget/v3/index.json" />
    <add key="NuGetCache" value="http://azdo/kahuaProjects/_packaging/NuGetCache/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Kahua" value="http://azdo/kahuaProjects/_packaging/Kahua/nuget/v3/index.json" />
    <add key="KahuaPartner" value="http://azdo/kahuaProjects/_packaging/KahuaPartner/nuget/v3/index.json" />
    <add key="Squirrel.Windows" value="http://azdo/kahuaProjects/_packaging/Squirrel.Windows/nuget/v3/index.json" />
    <add key="Telerik" value="http://azdo/kahuaProjects/_packaging/Telerik/nuget/v3/index.json" />
	  <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>